CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea/
cmake-build-debug/
src/a.exe
src/baboon.pgm
src/balloons.pgm
src/balloons_noisy.pgm
src/barbara.pgm
src/body.pgm
src/brain_1.pgm
src/brain_2.pgm
src/cat.pgm
src/cat_out.pgm
src/coins.pgm
src/dog.pgm
src/lena.pgm
src/pepper.pgm
src/tree.pgm
src/tree_out.pgm
